.ennemy-item {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  padding: 1.4rem;
  background: rgba(#fff, .05);

  &:not(:last-child) {
    margin-bottom: .7rem;
  }

  @include state(focused) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgba(#fff, .1);
  }

  @include state(dragging) {
    z-index: 1;
    pointer-events: none;
    transform: scale(.95);
    background: rgba(#fff, .9);
    opacity: .8;
  }

  > .meta {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;

    @include variant(dragging) {
      .champion {
        color: #000;
      }
    }
  }

  > .meta > .champion {
    font-size: 1.4rem;
    line-height: 1;
    color: color(text);
  }

  > .spells {
    display: flex;
    align-items: center;
    margin-right: -1rem;

    @include state(focused) {
      flex: 1;
      margin-right: 0;
      padding: 1rem 0;
      width: 100%;
    }
  }

  > .spells > .spell-item {
    margin: 0 1.2rem;
    width: 3.6rem;
    height: 3.6rem;
    text-align: center;

    @include state(focused) {
      flex: 1;
      height: 50%;
      max-height: 6rem;
    }
  }
}
