.home-screen {
  display: flex;
  flex-direction: column;
  padding: 1.4rem;

  @include before() {
    z-index: -1;
    transform-origin: top center;
    background: url(images/bg.png);
    background-size: cover;
    backface-visibility: hidden;

    @include nested-state(ready) {
      animation: home-screen-appear 1s both;
    }
  }

  @include after() {
    z-index: -1;
    background:
      radial-gradient(rgba(13, 236, 240, .2), rgba(240, 13, 230, .1)),
      linear-gradient(rgba(42, 48, 90, .95), rgba(0, 0, 0, .98));
  }

  > .home-header {
    flex: 1;
  }
}

@keyframes home-screen-appear {
  from {
    transform: scale(1.3);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}
