.track-screen {
  display: flex;
  flex-direction: column;
  padding: .7rem;
  background:
    linear-gradient(-45deg, color(background1), rgba(color(background2), .95)),
    url(images/bg.png);

  > .ennemies {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  > .ennemies > .ennemy-item {
    flex: 1;

    @include state(focused, true) {
      flex: 5;
    }
  }
}
